.donut_status_box_wrapper {
  width: 1270px;
  margin: 0 auto;
  overflow: hidden;

  .donut_status_box { float: left; }
}

.donut_status_box {
  height: 180px;
  width: 150px;

  padding: 20px;
  margin: 10px;

  border-radius: 8px;

  background-color: $gray-10;

  h1 {
    min-height: 50px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-top: 0;
  }

  .donut-chart {
    margin: 0 auto;
    display: block;

    .chart_count {
      font-size: 32px;
      font-weight: bold;
    }
  }
}
