<%= breadcrumb [
  ['Service Types', service_types_path],
  [truncate(@service_type.name, length: 20), service_type_path(@service_type)],
  ["Edit", ""]] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Edit '#{@service_type.name}'", "") %>

    <div class="form_wrapper">
      <%= simple_form_for @service_type, method: :put, html: {class: "form-horizontal"} do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
      <% end %>
    </div>
  </div>
</div>
