<%= breadcrumb [
  ['Service Types', service_types_path], 
  ["Create", ""]
] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Create New Service Type", "") %>

    <div class="form_wrapper">
      <%= semantic_form_for @service_type, method: :post, html: {class: "form-horizontal"} do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
      <% end %>
    </div>
  </div>
</div>

