/* base */
$green: #4DAF7B;
$blue: #3863b4;
$blue-alt: darken($blue, 5);
$purple: #BC52B7;
$golden: #FFDA29;
$brown: #ED9B52;
$orange: #F78F28;
$red: #ED4948;
$teal: #39A9AF;

/* errors */
$error-red: #B94A48;

$white: #FFFFFF;
$black: #000000;

/* gray percentages */
$gray-90: #191919;
$gray-80: #333333;
$gray-70: #4C4C4C;
$gray-60: #666666;
$gray-50: #7F7F7F;
$gray-40: #999999;
$gray-30: #B2B2B2;
$gray-20: #D1D2D4;
$gray-15: #D8D8D8;
$gray-10: #ECECEC;
$gray-5: #F1F1F1;
$gray-2: #F9F9F9;


/* app */
$app-background-color: $white;

/* color classes for use via js/svg */
.green { fill: $green; }
.blue { fill: $blue; }
.purple { fill: $purple; }
.golden { fill: $golden; }
.brown { fill: $brown; }
.orange { fill: $orange; }
.red { fill: $red; }
.teal { fill: $teal; }
.gray-30 { fill: $gray-30; }
