<div class="table_wrapper">
  <table class="table table-striped table-hover table-sorter">
    <thead>
      <tr>
        <th>Entity</th>
        <th>Last User Sign In At</th>
        <th>Orientation Attended?</th>
        <th>Program Completion Rate</th>
      </tr>
    </thead>

    <tbody>
      <% organizations.each do |organization| %>
        <tr>
          <td>
            <%= link_to organization.name, organization_path(organization) %>
          </td>
          <td>
            <%= organization.last_sign_in %>
          </td>
          <td>
            <% if organization.any_users_attended_orientation? %>
              Yes
            <% else %>
              No
            <% end %>
          </td>
          <td class="text-right">
            <%= organization.program_completion_rate %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
