<div class="table_wrapper">
  <table class="table table-striped table-hover table-sorter">
    <thead>
      <tr>
        <th>Entity</th>
        <th>Orientation Attended?</th>
        <th>Program Completion Rate</th>
      </tr>
    </thead>

    <tbody>
      <% program_completions.each do |program_completion| %>
        <tr>
          <td><%= link_to program_completion.name, organization_path(program_completion) %></td>
          <td>
            <% if program_completion.any_users_attended_orientation? %>
              Yes
            <% else %>
              No
            <% end %>
          </td>
          <td><%= program_completion.completion_rate %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

