<%= breadcrumb [
  ['Community Partnerships', community_partners_path()],
  [truncate(@community_partner.name, length: 20), community_partner_path(@community_partner)],
  ['Edit', ""]
] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Edit #{@community_partner.name}", "icon-handshake") %>

    <div class="form_wrapper">
      <%= semantic_form_for @community_partner, method: :put, html: {class: "form-horizontal"} do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
      <% end %>
    </div>

  </div>
</div>
