<%= breadcrumb [
  ['Users', users_path],
  [truncate(@user.full_name, length: 20), user_path(@user)],
  ['Edit', '']
] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Edit #{@user.full_name}", "") %>

    <div class="form_wrapper">
      <%= semantic_form_for @user, method: :put, html: {class: "form-horizontal"} do |f| %>
        <%= render :partial => 'form', :locals => {
          :f => f,
          roles: @roles,
          schools: @schools,
          organizations: @organizations } %>
      <% end %>
    </div>
  </div>
</div>
