<%= breadcrumb [
  ['Users', users_path],
  ['Create', '']
] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Create New User", "") %>

    <div class="form_wrapper">
      <%= semantic_form_for @user, method: :post, html: {class: "form-horizontal"} do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
      <% end %>
    </div>
  </div>
</div>
