<%= breadcrumb [
  ['Users', users_path],
  ['Create', '']
] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Create New User", "") %>

    <div class="form_wrapper">
      <%= simple_form_for @user, method: :post,
        html: {class: "form-horizontal user"},
        wrapper: :horizontal_form,
        wrapper_mappings: {boolean: :horizontal_boolean} do |f| %>

        <%= render :partial => 'form', :locals => {
          f: f,
          roles: @roles,
          schools: @schools,
          organizations: @organizations
        } %>
      <% end %>
    </div>
  </div>
</div>
