// base
$green: #4DAF7B;
$green-dark: darken($green, 10);

$blue: #3863b4;
$blue-dark: darken($blue, 10);

$info: #49AFCD;
$info-dark: darken($info, 10);

$purple: #BC52B7;
$golden: #FFDA29;
$brown: #ED9B52;

$orange: #F78F28;
$orange-dark: darken($orange, 10);

$red: #ED4948;
$red-dark: darken($red, 10);

$teal: #39A9AF;

// errors
$error-red: #B94A48;

$white: #FFFFFF;
$black: #000000;

/* gray percentages */
$gray-90: #191919;
$gray-80: #333333;
$gray-70: #4C4C4C;
$gray-60: #666666;
$gray-50: #7F7F7F;
$gray-40: #999999;
$gray-30: #B2B2B2;
$gray-20: #D1D2D4;
$gray-15: #D8D8D8;
$gray-10: #ECECEC;
$gray-5: #F1F1F1;
$gray-2: #F9F9F9;


// App
$app-background-color: $white;
$text-color: $gray-90;

// Tables
$table-border-color: $gray-20;

// color classes for use via js/svg
.green { fill: $green; }
.blue { fill: $blue; }
.purple { fill: $purple; }
.golden { fill: $golden; }
.brown { fill: $brown; }
.orange { fill: $orange; }
.red { fill: $red; }
.teal { fill: $teal; }
.gray-30 { fill: $gray-30; }

// Map colors
$map-circle-cdc: #e6a4f5;
$map-circle-cdc-dark: darken($map-circle-cdc, 10);
$map-circle-elementary: #f4a3c0;
$map-circle-elementary-dark: darken($map-circle-elementary, 10);
$map-circle-k-8: #fd950e;
$map-circle-k-8-dark: darken($map-circle-k-8, 5);
$map-circle-middle: #f6f6ac;
$map-circle-middle-dark: darken($map-circle-middle, 25);
$map-circle-high: #73c8de;
$map-circle-high-dark: darken($map-circle-high, 10);
$map-circle-alternative: #aade73;
$map-circle-alternative-dark: darken($map-circle-alternative, 10);
