.progress {
  .progress-bar { background-image: none; }

  /* bootstrap orig */
  .progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  }

  .progress-bar-info { background-color: $info; }
  .progress-bar-inactive {
    background-color: transparentize($white, 1);
    color: $gray-30;
  }
}

.progress-bar {
  &.low {
    background-color: $red;
  }

  &.medium {
    background-color: $golden;
  }

  &.high {
    background-color: $teal;
  }

  &.complete-needing-verification {
    background-color: $orange;
  }

  &.complete{
    background-color: $green;
  }
}

