<div class="row-fluid">
  <div class="span12">
    <div class="header">
      <h1>School Quality Indicators</h1>
      <%= link_to 'Create New School Quality Indicator', new_school_quality_indicator_sub_area_path, class: "btn btn-primary" %>
    </div>

    <div class="table_wrapper">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Indicator</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @school_quality_indicator_sub_areas.each do |indicator| %>
            <tr>
              <td><%= link_to indicator.try(:name), school_quality_indicator_sub_area_path(indicator) %></td>
              <td><%= link_to 'edit', edit_school_quality_indicator_sub_area_path(indicator), class: "btn btn-small btn-info" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

