<div id="deactivation-warning-modal" class="deactivation-warning-modal modal" tab-index="-1
  role="dialog" aria-labelledby="instructionsModal" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <a href="#close-modal" data-dismiss="modal"
        class="close-modal icon-cpp-close-x-inv"></a>

      <div class="modal-header">
        <h3>
          <span class="icon-cpp icon-cpp-handshake"></span>
          Deactivate Program
        </h3>
      </div>

      <div class="modal-body">
        <p>
          Clicking the button below will <%= community_program.active? ? t('app.deactivate') : t('app.activate') %> this program.
        </p>
        <p>
          Deactivated programs will not be displayed within the Community Partner Platform.
          The program will be continue to be accessible to your organization in the
          'Deactivated Programs' tab on your organization page.
        </p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
          Cancel
        </button>

        <button class="btn btn-warning deactivate-program"
          data-community-program-id="<%= community_program.id %>">
          <%= gicon('ban-circle') if community_program.active? %>
          <%= community_program.active? ? t('app.deactivate').capitalize : t('app.activate').capitalize %>
        </button>
      </div>
    </div>
  </div>
</div>
