<div class="select input optional control-group" id="community_partner_school_user_id_input">
  <label class="control-label" for="community_partner_school_user_id">Primary school contact</label>
  <div class="controls">
    <select id="community_partner_school_user_id" name="community_partner[school_user_id]">
      <option value=""></option>
      <% @school.users.sort_by(&:full_name).each do |user| %>
        <option value="<%= user.id %>"><%= user.full_name %></option>
      <% end %>
    </select>
  </div>
</div>
