<div class=" span12">
  <% if can? :view, :school_overview_program_breakdown_by_region %>
    <h2>Program Breakdown by Region</h2>

    <dl>
      <% @overview_presenter.regions.sort_by(&:name).each do |region| %>
        <dt><%= region.name %></dt>
        <dd><%= pluralize(region.community_programs_count, "program") %></dd>
      <% end %>
    </dl>
  <% end %>

  <% if can?(:view, :school_overview_school_status) &&
       @overview_presenter.schools_without_region.count > 0 %>
    <h2>School Status</h2>

    <h5>Schools without a region assigned:</h5>
    <ul>
      <% @overview_presenter.schools_without_region.each do |school| %>
        <li><%= link_to school.name, school_path(school) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
