<style>

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

</style>

<div class="graph_wrapper span12">
  <h2>School Quality Indicator Sub Area :: <%= SchoolQualityIndicatorSubArea.first.name %></h2>
  <div id="scatter-plot"></div>
</div>
