<%= breadcrumb [
  ['Schools', schools_path],
  [truncate(@school.name, length: 20), school_path(@school)],
  ["Edit", ""]] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Edit #{@school.name}", "icon-school") %>

    <div class="form_wrapper">
      <%= semantic_form_for @school, method: :put, html: {class: "form-horizontal"} do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
      <% end %>
    </div>
  </div>
</div>

