<%= breadcrumb [['Schools', schools_path]] %>

<div class="row-fluid">
  <div class="span12">
    <div class="header">
      <h1>Schools</h1>
      <%= link_to 'Create New School', new_school_path, class: "btn btn-primary" %>
    </div>

    <%= page_nav_tabs [['Overview', '#overview'],
                       ['Schools', '#schools-table']] %>

    <div class="tab-content">
      <div id="overview" class="tab-pane active">
      </div>

      <div id="schools-table" class="tab-pane">
        <%= render partial: 'table', locals: {schools: @schools} %> 
      </div>
    </div>
  </div>
</div>
