<div class="row-fluid">
  <div class="span12">
    <div class="header">
      <h1>OUSD Schools</h1>
    </div>

    <div class="table_wrapper">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>School</th>
	    <th>Organizations</th>
	    <th></th>
          </tr>
        </thead>

        <tbody>
          <% @schools.each do |school| %>
            <tr>
              <td><%= link_to school.name, school_path(school) %></td>
	      <td><%= school.community_partners.count %></td>
	      <td><%= link_to 'view', school_path(school), class: "btn btn-small btn-info" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
