/* reset bootstrap */
.btn,
.btn-action,
.btn-create,
.btn-info,
.btn-primary,
.btn-success,
.btn-warning {
  text-shadow: none;
  background-image: none;
  background-repeat: none;
  border: none;
  border-color: none;
  box-shadow: none;
  font-weight: normal;
}

/* design */
.btn {
  @include open-sans;

  border-radius: 3px;
  color: $white;
}

.btn-large {
  height: 42px;
  font-size: 16px;
  line-height: 30px;
  min-width: 150px;
}

.btn-medium {
  font-size: 14px;
  padding: 4px 8px;
}

.btn-small {
  padding: 2px 10px;
  font-size: 12px;
  min-width: 35px;
}

.btn-mini {
  padding: 1px 5px 2px;
  font-size: 11px;
  min-width: 35px;
}

@mixin button_color($color, $hover-color, $text-color: $white) {
  background-color: $color;
  color: $text-color;

  &:hover {
    background-color: $hover-color;
    color: $text-color;
  }
}

.btn-primary {
  @include button_color($blue, $blue-dark);
}

.btn-info {
  @include button_color($info, $info-dark);
  border: none;
}

.btn-create {
  @include button_color($orange, $orange-dark);
}

.btn-success,
.btn-action {
  @include button_color($green, $green-dark);
}

.btn-warning {
  @include button_color($red, $red-dark);
}
