// reset bootstrap
.btn,
.btn-action,
.btn-create,
.btn-info,
.btn-primary,
.btn-success,
.btn-warning {
  background-image: none;
  background-repeat: none;
  border: 0;
  border-color: none;
  box-shadow: none;
  font-weight: normal;
  text-shadow: none;
}

// design
.btn {
  @include open-sans;

  border-radius: 3px;
  color: $white;
}

.btn-large {
  font-size: 16px;
  height: 42px;
  line-height: 30px;
  min-width: 150px;
}

.btn-medium {
  font-size: 14px;
  padding: 4px 8px;
}

.btn-small {
  font-size: 12px;
  min-width: 35px;
  padding: 2px 10px;
}

.btn-mini {
  font-size: 11px;
  min-width: 35px;
  padding: 1px 5px 2px;
}

@mixin button-color($color, $hover-color, $text-color: $white) {
  background-color: $color;
  color: $text-color;

  &:hover {
    background-color: $hover-color;
    color: $text-color;
  }
}

.btn-primary {
  @include button-color($blue, $blue-dark);
}

.btn-info {
  @include button-color($info, $info-dark);
  border: 0;
}

.btn-create {
  @include button-color($orange, $orange-dark);
}

.btn-success,
.btn-action {
  @include button-color($green, $green-dark);
}

.btn-warning {
  @include button-color($red, $red-dark);
}

.btn-default {
  @include button-color($gray-10, $gray-20, $text-color)
}
