.columnar-table-block {
  > h4 {
    border-bottom: 1px solid $text-color;

    .btn {
      position: absolute;
      right: 20px;
      text-align: right;
      top: 12px;
    }
  }

  &.community-programs .columnar-table-block-wrapper {
    margin-left: 10px;

    td:first-child { width: 20%; }
  }

  .columnar-table-block-header {
    border-bottom: 1px solid $gray-30;
    clear: both;
    margin-bottom: 5px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;

    &:last-child { border-bottom: 0; }

    h5 {
      float: left;
      margin-bottom: 5px;
      margin-top: 10px;
      max-width: 900px;

      .item-info {
        @extend %hint;
      }
    }

    .progress-bar-container {
      margin-bottom: 5px;
      margin-top: 10px;
    }

    .btn {
      float: right;
      position: relative;
      top: 5px;
    }
    .btn-info.toggle { color: $white; }

    .header-button-wrapper {
      @extend %header-button-wrapper;
      top: 0px !important;

      .btn {
        margin-right: 5px;
        float: none;

        &:last-child { margin-right: 0; }

        &.btn.btn-medium {
          position: relative;
          top: 7px;
        }
      }
    }

    a.toggle {
      width: 120px;

      &.open {
        .glyphicon-eye-open { display: none; }
        .glyphicon-eye-close { display: inline-block; }
      }
      &.closed {
        .glyphicon-eye-open { display: inline-block; }
        .glyphicon-eye-close { display: none; }
      }
    }
  }

  .columnar-table-block-header + table,
  .columnar-table-block-header table,
  table:first-child {
    tr:first-child td {border-top: 0;}
  }

  .columnar-table-block-header table {
    margin-bottom: 0;
    width: 98%;
  }

  table.embedded {
    margin-left: 20px;
    font-weight: normal;

    tr:first-child td {border-top: 0;}
  }

  ul {
    padding: 0;

    .toggler { font-size: modular-scale(-1); }
  }

  tbody + tbody {
    border-top: 0;

    &::before {
      content: '';
      display: block;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .columnar-table-block {
    .table-responsive { border: 0; }

    tbody {
      $border: 1px solid $gray-20;

      tr {
        border-left: $border;
        border-right: $border;

        &:first-child { border-top: $border; }
        &:last-child { border-bottom: $border; }
      }
    }
  }
}
