.columnar-table-block {
  > h4 { border-bottom: 1px solid $text-color; }

  .columnar-table-block-header {
    border-bottom: 1px solid $gray-30;
    clear: both;
    margin-bottom: 5px;
    overflow: auto;
    position: relative;

    h5 {
      float: left;
      margin-bottom: 5px;
      margin-top: 10px;

      .item-info {
        @extend %hint;
      }
    }

    .progress-bar-container {
      margin-bottom: 5px;
      margin-top: 10px;
    }

    .btn {
      float: right;
      position: relative;
      top: 5px;
    }
    .btn-info.toggle { color: $white; }

    .header-button-wrapper {
      @extend %header-button-wrapper;
      top: 0px !important;

      .btn {
        margin-right: 5px;
        float: none;

        &:last-child { margin-right: 0; }
      }
    }
  }

  .columnar-table-block-header + table,
  table:first-child {
    tr:first-child td {border-top: 0;}
  }

  table.embedded {
    margin-left: 20px;
    font-weight: normal;

    tr:first-child td {border-top: 0;}
  }

  ul {
    padding: 0;

    .toggler { font-size: modular-scale(-1); }
  }
}
