.modal {
  display: none;
  margin: 0 auto;
  position: fixed;
  width: 600px;

  .modal-header {
    @include border-top-radius(6px);
    background-color: $gray-10;

    h3 { margin: 0; }

    .icon.glyphicon { font-size: 20px; }

    .icon-cpp {
      margin-right: 5px;
      width: 20px;
    }

    .icon-cpp-users {
      font-size: 29px;
      height: 30px;
      width: 42px;
    }
  }

  .modal-body {
    min-height: 100px;

    form { padding: 0 15px; }
  }

  .close-modal {
    color: $red;
    font-size: 25px;
    position: absolute;
    right: 13px;
    top: 13px;

    &:hover {
      color: $red-dark;
      text-decoration: none;
    }
  }
}

.modal.modal-wide,
.modal.school-program-modal {
  width: 900px;

  .modal-dialog { width: 900px; }
}

.modal.quality-element-description-modal {
  h4 { border-bottom: 1px solid $text-color; }
  dd { margin-bottom: 10px; }
}
