/* dimensions */
$navbar-height: 60px;
$navbar-dropdown-width: 240px;
$nav-item-a-margin: 10px;
$nav-active-border-height: 4px;
$dropdown-active-border-width: 4px;

/* colors */
$navbar-color: $gray-2;
$nav-active-bgcolor: $gray-10;
$nav-item-border-color: $gray-15;
$nav-item-a-color: $gray-50;
$nav-active-color: $green;


/* RESET OF BOOTSTRAP STYLES AS NEEDED */
.navbar {
  background-image: none;
  background-repeat: none;
  border: none;

  .navbar-inner { 
    box-shadow: none;
    border: none;

    .nav { 
      float: none;

      .nav-item {
        &.dropdown {
          .dropdown-menu {
            box-shadow: none;
            border: none;
            
            &:before,
            &:after {
              border: none !important;
              content: "" !important;
            }
          }
        }
      }
      
      .icon { background: none; }
    }
  }
}

.navbar {
  @extend .pt_sans;
  font-weight: 700; //bold

  height: $navbar-height;

  .navbar-inner {
    @extend .row-fluid;
    background-color: $navbar-color;
    
    .brand { 
      @extend .span3;
      margin: 0;
      padding: 20px 10px 10px 30px;
      height: $navbar-height - 30px;
      border-right: none;
    }

    .nav {
      @extend .span9;
      @extend .offset3;

      .nav-item { 
        @extend .span2;
        text-align: left;
        text-transform: uppercase;
        border-left: 1px solid $nav-item-border-color;
        height: $navbar-height;
        position: relative;

        &:last-child {
          border-right: 1px solid $nav-item-border-color;
        }

        &.active,
        &.open { 
          height: $navbar-height - $nav-active-border-height;
          border-bottom: $nav-active-border-height solid $nav-active-color;
          background-color: $nav-active-bgcolor;

          > a { 
            box-shadow: none;
            color: $nav-active-color;
            background-color: $nav-active-bgcolor;
          }
        }

        &.dropdown {
          .dropdown-toggle {
            .caret { margin-left: 5px; }
          }

          .dropdown-menu {
            top: $navbar-height - 2px;
            background-color: $navbar-color;
            @include rounded-top(0);

            li {
              padding: 15px 10px;
              height: 20px;
              width: $navbar-dropdown-width;
            
              &:hover {
                background-color: $nav-active-bgcolor;
                border-left: $dropdown-active-border-width solid $nav-active-color;
                width: $navbar-dropdown-width - 2px;

                a { 
                  color: $nav-active-color;
                  padding-left: 1px;
                }
              }

              a {
                height: auto;
                margin: 0;
                font-weight: 700; // bold
                padding-left: $dropdown-active-border-width;
                color: $nav-item-a-color;

                &:hover { background: none; }
              }
            }
          }
        }

        a {
          height: $navbar-height - (2 * $nav-item-a-margin);
          margin: $nav-item-a-margin 5px;
          padding: 0;
          overflow: hidden;
          font-size: 13px;
          color: $nav-item-a-color;

          &.single-line { 
            padding-top: $nav-item-a-margin;
            height: $navbar-height - (2 * $nav-item-a-margin) - 10px - $nav-active-border-height;
          }

          &:hover { color: $nav-active-color; }

          .icon,
          .nav-label { 
            display: block;
            float: left;
          }

          .community_partnership.nav-label { width: 91px; }

          .icon {
            width: 26px;
            height: 26px;
            font-size: 30px;
            position: relative;
            top: -9px;
            margin-right: 10px;
          }
          .icon-school { margin-left: 18px; }
          .icon-handshake { 
            left: -4px;
            top: 6px;
            margin-right: 6px;
            width: 46px;
            font-size: 24px;
          }
          .icon-small_business { 
            margin-left: 6px;
            margin-right: 7px;
            top: -7px;
          }
          .icon-gears { margin-left: 25px; }
          .icon-graph { 
            width: 32px;
            margin-left: 14px;
          }
        }
      }
    }
  }
}

.user-navigation {
  @extend .span12;
  margin-top: $navbar-height;
  text-align: right;
  position: fixed;
  background-color: $app-background-color;

  .current_user { 
    padding: 10px;
    display: block;
    height: 20px;
  }
}
