/* dimensions */
$navbar-height: 60px;
$navbar-dropdown-width: 240px;
$nav-item-width: 153px;
$nav-item-a-margin: 10px;
$nav-active-border-height: 4px;
$dropdown-active-border-width: 4px;

$user-nav-height: 27px;
$user-nav-vertical-padding: 4px;
$user-nav-border-size: 1px;

$navigation-bg-fade: $white;

/* colors */
$navbar-color: $gray-2;
$nav-active-bgcolor: $gray-10;
$nav-item-border-color: $gray-15;
$nav-item-a-color: $gray-50;
$nav-active-color: $green;

.navbar {
  @extend .pt_sans;
  background-color: $navbar-color;
  font-weight: 700;
  height: $navbar-height;
  min-height: $navbar-height; //bootstrap override

  &.navbar-fixed-top {
    margin-top: $user-nav-height + $user-nav-border-size;
    z-index: 2;
  }

  a {
    color: $nav-item-a-color;

    &:hover,
    &:active,
    &:focus {
      color: $nav-active-color;
      text-decoration: none;
    }
  }

  .navbar-brand {
    height: $navbar-height;
    padding: 15px;

    h1 {
      margin: 0;
      font-size: modular-scale(3);
    }

    .brand {
      margin: 0;
      border-right: none;
    }
  }

  .navbar-nav {
    .nav-item {
      text-align: left;
      text-transform: uppercase;
      border-left: 1px solid $nav-item-border-color;
      height: $navbar-height;
      min-width: $nav-item-width;
      position: relative;

      &:last-child {
        border-right: 1px solid $nav-item-border-color;
      }

      &.active,
      &.open,
      &:hover {
        height: $navbar-height - $nav-active-border-height;
        border-bottom: $nav-active-border-height solid $nav-active-color;
        background-color: $nav-active-bgcolor;

        > a {
          box-shadow: none;
          color: $nav-active-color;
          background-color: $nav-active-bgcolor;
        }
      }

      &.dropdown {
        .dropdown-toggle {
          .caret { margin-left: 5px; }
        }

        .dropdown-menu {
          top: $navbar-height - 2px;
          background-color: $navbar-color;
          @include rounded-top(0);

          li {
            width: $navbar-dropdown-width;

            &:hover {
              width: $navbar-dropdown-width - 2px;

              a {
                color: $nav-active-color;
                background-color: $nav-active-bgcolor;
                border-left: $dropdown-active-border-width solid $nav-active-color;
              }
            }

            a {
              height: 40px;
              line-height: 40px;
              margin: 0;
              font-weight: 700; // bold
              padding-left: 10px;

              color: $nav-item-a-color;
              background-color: $navbar-color;
              border-left: $dropdown-active-border-width solid $navbar-color;

              &:hover { background-color: $nav-active-bgcolor; }
            }
          }
        }
      }

      a {
        height: $navbar-height - (2 * $nav-item-a-margin);
        margin: $nav-item-a-margin 5px;
        padding: 0;
        font-size: 13px;
        color: $nav-item-a-color;

        &.single-line {
          padding-top: $nav-item-a-margin;
          height: $navbar-height - (2 * $nav-item-a-margin) - 10px - $nav-active-border-height;
        }

        &:hover {
          color: $nav-active-color;
          background-color: $nav-active-bgcolor;
        }

        .icon,
        .nav-label {
          display: block;
          float: left;
        }

        .community_partnership.nav-label,
        .organization.nav-label {
          width: 91px;
        }

        .icon {
          width: 26px;
          height: 26px;
          font-size: 30px;
          position: relative;
          top: -9px;
          margin-right: 10px;
        }
        .icon-cpp-school { margin-left: 18px; }
        .icon-cpp-handshake {
          top: 6px;
          margin-right: 6px;
          width: 46px;
          font-size: 24px;
        }
        .icon-cpp-small-business {
          margin-left: 6px;
          margin-right: 7px;
          top: 3px;
        }
        .icon-cpp-gears {
          margin-left: 20px;
          margin-right: 15px;
        }
        .icon-cpp-graph {
          width: 32px;
          margin-left: 19px;
          top: -7px;
          margin-right: 7px;
        }
      }
    }
  }

  .nav-bar-fade {
    height: 15px;
    width: 100%;
    background-color: $navigation-bg-fade;
    opacity: 0.8;
  }
}

.user-nav {
  background-color: $app-background-color;
  border-bottom: 1px solid $gray-10;
  color: $nav-item-a-color;
  font-size: modular-scale(-1);
  position: fixed;
  text-align: right;
  top: 0px;
  width: 100%;
  z-index: 1030; // same as .navbar-fixed-top

  .user-info {
    display: block;
    height: $user-nav-height;
    padding: $user-nav-vertical-padding 10px;

    .btn-mini {
      position: relative;
      top: -1px;
    }
  }
}
