$header-background-color: #FFFFFF;
$header-color: $gray-70;
$header-border-color: $gray-70;

.header {
  @extend .pt_sans;

  clear: both;
  background-color: $header-background-color;
  color: $header-color;
  padding: 10px;
  margin-left: 10px;
  position: relative;

  .header_outer {
    height: 62px;
    border-bottom: 1px solid $header-border-color;
  }

  .header_inner {
    height: 56px;
    border-bottom: 3px solid $header-border-color;

    h1 { width: 100%; }
  }

  h1 {
    @extend .span9 !optional;

    .icon {
      font-size: 40px;
      display: inline-block;
      background: none;
      margin-right: 5px;
      width: 40px;
      height: 40px;
    }

    .icon-cpp-school {
      position: relative;
      top: 4px;
      margin-left: 10px;
      margin-right: 0;
    }

    .icon-cpp-handshake {
      font-size: 35px;
      width: 64px;
      top: 8px;
      position: relative;
      margin-left: 10px;
    }

    .icon-cpp-small-business {
      position: relative;
      top: 5px;
      width: 30px;
      margin-right: 0;
      margin-left: 5px;
    }
  }


  .btn {
    top: 35px;
    right: 30px;
    position: absolute;
  }
}
