$header-background-color: #FFFFFF;
$header-border-color: $gray-70;
$header-color: $gray-70;

.header {
  @extend .pt_sans;

  background-color: $header-background-color;
  clear: both;
  color: $header-color;
  margin-bottom: 10px;
  position: relative;

  .header-outer {
    border-bottom: 1px solid $header-border-color;
    height: 62px;
  }

  .header-inner {
    border-bottom: 3px solid $header-border-color;
    height: 56px;
    position: relative;

    h1 { width: 80%; }

    .header-button-wrapper {
      position: absolute;
      right: 5px;
      top: 15px;
    }
  }

  h1 {
    .icon {
      background: none;
      display: inline-block;
      font-size: 40px;
      height: 40px;
      margin-right: 5px;
      width: 40px;
    }

    .icon-cpp-school {
      margin-left: 10px;
      margin-right: 0;
      position: relative;
      top: 4px;
    }

    .icon-cpp-handshake {
      font-size: 35px;
      margin-left: 10px;
      position: relative;
      top: 8px;
      width: 64px;
    }

    .icon-cpp-small-business {
      margin-left: 5px;
      margin-right: 0;
      position: relative;
      top: 5px;
      width: 30px;
    }
  }
}
