<div id="<%= modal_id %>" class="<%= modal_class %> modal" role="dialog" aria-labelledby="genericModal" aria-hidden="true">
  <a href="#close-modal" rel="modal:close" class="close-modal icon-cpp-close-x-inv"></a>

  <% if header %>
    <div class="modal-header">
      <h3>
        <%= modal_header %>
      </h3>
    </div>
  <% end %>

  <div class="modal-body">
    <%= modal_body %>
  </div>

  <% if footer %>
    <div class="modal-footer">
    </div>
  <% end %>
</div>
