<li>
  <a href='#' class='active'>
    <span class='legend-circle-wrapper'>
      <div class='outer-circle {{school-type-class}}'></div>
      <div class='inner-circle {{school-type-class}}'></div>
    </span>

    {{label}}
  </a>
</li>
