<li>
  <span class='legend-circle-wrapper'>
    <div class='outer-circle {{school-type-class}}'></div>
    <div class='inner-circle {{school-type-class}}'></div>
  </span>
  <a href='#' class='active'>
  {{site_type_norm}}
  </a>
</li>
