$footer-bg-color: $gray-20;

%hint {
  font-size: modular-scale(-1);
  color: $gray-40;
  font-style: italic;
}

body, html { height: 100%; }

body {
  > .container {
    margin-top: 120px;
    min-height: 100%;
  }
}
.page-wrapper {
  //@extend .span12 !optional;
}

.navbar-fixed-top,
.user-navigation {
  z-index: 1;
}


#footer {
  background-color: #DDD;
  border-top: 1px solid #999;
  height: 100px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.clear {
  &.both { clear: 'both'; }
  &.left { clear: 'left'; }
  &.right { clear: 'right'; }
}

.header h1 { width: 100%; }

h2 {
  border-bottom: 2px solid #333;
}

h2,
h3 { clear: both; }
h6 { color: $gray-80; }

.flash-messages { padding: 0px 20px; }

.table_wrapper,
.form_wrapper,
.graph_wrapper,
.detail_wrapper{
  padding: 20px 20px 0px 20px;
  overflow: hidden;
}

/* override some bootstraps */
.row-fluid {
  .table_wrapper[class*="span"],
  .form_wrapper[class*="span"] {
    margin-left: 10px;
  }
}
[class^="icon-"], [class*=" icon-"] {
  background: none;
  margin-top: 0;
}

.table_wrapper { overflow-x: scroll; }

table .center { text-align: center; }
table .buttons { width: 129px; }

.good,
.bad { font-weight: bold; }

.good { color: green; }
.bad { color: red; }

dl {
  margin-left: 30px;

  dt {
    float: left;
    clear: both;
    margin-right: 10px;

    &::after { content: ":" }
  }
}

dl.horizontal_stack {
  float: left;

  dt { width: 40%; }
  dd {
    float: left;
    width: auto;
  }
}



.clear { clear: both; }
.hide { display: none; }
.hint {
  @extend %hint;
}
.toggle {
  color: $blue;
  cursor: pointer;
}

.font-bold {font-weight: bold;}

.footer {
  background-color: $footer-bg-color;
  height: 50px;
  margin-top: 40px;
}
