body { 
  padding: 5px;
  padding-top: 60px;
  position: relative;
}


ul.breadcrumb {
  background: none;
  float: right;
  margin-bottom: 0;
}

.header { 
  clear: both;
  background-color: #e5e5e5;
  color: #333;
  padding: 10px;
  @include border-radius(6px);
  position: relative;

  h1 { width: 70%; }

  .btn-primary { 
    top: 25px;
    right: 10px;
    position: absolute;
  }
}

#content-wrapper { margin-bottom: 150px; }
#footer {
  background-color: #DDD;
  border-top: 1px solid #999;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

h2 { 
  font-size: 26px;
  border-bottom: 2px solid #333;
}

.table_wrapper,
.form_wrapper { 
  padding: 20px 20px 0px 20px;
  overflow: hidden;
}
/* override some bootstraps */
.row-fluid {
  .table_wrapper[class*="span"],
  .form_wrapper[class*="span"] {
    margin-left: 10px;
  }
}

table .center { text-align: center; }

.good, 
.bad { font-weight: bold; }

.good { color: green; }
.bad { color: red; }

dl {
  margin-left: 30px;
  
  dt {
    float: left;
    clear: both;
    margin-right: 10px;

    &::after { content: ":" }
  }
}

ul.nav.nav-tabs {
  margin: 30px 20px 10px 20px;
}
.tab-content { min-height: 400px; }
