$footer-bg-color: $gray-20;

%hint {
  font-size: modular-scale(-1);
  color: $gray-40;
  font-style: italic;
}

body, html { height: 100%; }

body {
  > .container {
    margin-top: 120px;
    min-height: 100%;
  }
}
.page-wrapper {
  //@extend .span12 !optional;
}

.navbar-fixed-top,
.user-navigation {
  z-index: 1;
}

.tipsy { font-size: modular-scale(-1); }

.icon-cpp.icon-cpp-globe { color: $orange-dark; }

#footer {
  background-color: #DDD;
  border-top: 1px solid #999;
  height: 100px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.clear {
  &.both { clear: 'both'; }
  &.left { clear: 'left'; }
  &.right { clear: 'right'; }
}

.header h1 { width: 100%; }

h2 {
  border-bottom: 2px solid #333;
}

h2,
h3 { clear: both; }
h6 { color: $gray-80; }

.table_wrapper,
.form_wrapper,
.graph_wrapper,
.detail_wrapper{
  padding: 20px 20px 0px 20px;
  overflow: hidden;
}

/* override some bootstraps */
.row-fluid {
  .table_wrapper[class*="span"],
  .form_wrapper[class*="span"] {
    margin-left: 10px;
  }
}
[class^="icon-"], [class*=" icon-"] {
  background: none;
  margin-top: 0;
}

.table_wrapper { overflow-x: scroll; }

table .center { text-align: center; }
table .buttons { width: 129px; }


dl {
  margin-left: 30px;

  dt {
    float: left;
    clear: both;
    margin-right: 10px;

    &::after { content: ":" }
  }
}

dl.horizontal_stack {
  float: left;

  dt { width: 40%; }
  dd {
    float: left;
    width: auto;
  }
}



.clear { clear: both; }
.hide { display: none; }
.hint {
  @extend %hint;
}
.toggle {
  color: $blue;
  cursor: pointer;
}

.toggleable {
  &.toggle {
    color: $text-color;
    text-decoration: none;
  }

  &.closed {
    .collapsible-area { display: none; }
    .glyphicon-minus { display: none; }
    .glyphicon-plus { display: inline-block; }
  }

  &.open {
    .collapsible-area { display: block; }
    .glyphicon-minus { display: inline-block; }
    .glyphicon-plus { display: none; }
  }

  h2 .icon {
    font-size: 80%;
    position: relative;
    top: -1px;
  }
}

.font-bold {font-weight: bold;}

.footer {
  background-color: $footer-bg-color;
  height: 50px;
  margin-top: 40px;
}

// devise shared links
.row.shared-links { margin-top: 30px; }


// generic icons like check and remove
.icon.glyphicon {
  &.positive { color: $green-dark; }
  &.negative { color: $error-red; }
}


// used on admin dashboard, org and community program page for progress bar tooltips
.community-program-status-tooltip,
.organization-status-tooltip,
.public-policy-missing-requirements-tooltip {
  .tipsy-inner {
    max-width: 400px;
    text-align: left;
    width: 400px; //needs to be set in addition to max-width
  }
}
