table.community_partners {
  .sqisa { width: 30%; }
  .organization { width: 25%; }
  .service { width: 35%; }
  .actions { width: 10%; }
}

.detail_wrapper.community_partnership_details {
  dl.horizontal_stack dt { margin-bottom: 5px; }

  dl.horizontal_stack.span3 dt { width: 85px; }
  dl.horizontal_stack.span5 dt { width: 200px; }
}

.detail_wrapper.community_partnership_description {
  dl.horizontal_stack dt { margin-bottom: 5px; }

  dl.horizontal_stack.span4 dt { width: 150px; }
  dl.horizontal_stack.span3 dt { width: 165px; }
}

