.community_programs .header .btn {
  position: relative;
  float: right;
  top: -35px;
  margin-right: 10px;
}

table.community_programs {
  .program_name { width: 20%; }
  .organization { width: 20%; }
  .sqisa { width: 25%; }
  .service { width: 25%; }
  .actions {
    width: 147px;
    .btn-medium {
      min-width: 63px;
      margin-bottom: 5px;
    }
  }
}

.columnar-table-block {
  &.program-description {
    td:first-child { width: 40%; }
  }

  &.school-programs {
    td:first-child { width: 55%; }
  }
}

.deactivation-warning-modal.modal {
  .modal-header .icon-cpp {
    width: 40px;
    top: 2px;
    position: relative;
  }
}



fieldset.school-programs {
  table {
    tr {
      border-bottom: 1px solid $table-border-color;

      &:first-child { border-top: none; }
      &:last-child { border-bottom: none; }
    }

    td {
      border: none;

      .item-info {
        @extend %hint;
      }

      &.buttons { width: 15%; }
    }
  }
}

.form-group.inheriting {
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lighten($green, 30);
}

label.parent-value,
option.inheriting {
  color: $green-dark;
}
