table.community_programs {
  .program_name { width: 20%; }
  .organization { width: 20%; }
  .sqisa { width: 25%; }
  .service { width: 25%; }
  .actions { width: 10%; }
}

.detail_wrapper.community_program_details {
  dl.horizontal_stack dt { margin-bottom: 5px; }

  dl.horizontal_stack.span3 dt { width: 85px; }
  dl.horizontal_stack.span5 dt { width: 200px; }
}

.detail_wrapper.community_program_description {
  dl.horizontal_stack dt { margin-bottom: 5px; }

  dl.horizontal_stack.span4 dt { width: 150px; }
  dl.horizontal_stack.span3 dt { width: 165px; }
}

.formtastic.form-horizontal {
  .columized_checkboxes {
    .controls {
      width: 810px;
    }
  }

  .user-add-wrapper {
    position: relative;

    .user-add {
      position: absolute;
      top: 1px;
      left: 425px;

      &.wrapped-input-label { top: 10px; }
    }
  }
  #add-org-user,
  #add-school-user { display: none; }
}
