$map-menu-link-bg: #3887be;
$map-menu-link-bg-dark: darken($map-menu-link-bg, 10);

.homepage-map { height: 400px; }

.map-menu {
  background: $white;
  border: 1px solid $gray-40;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  right: 25px;
  top: 10px;
  width: 387px;
  z-index: 1;

  ul { margin-bottom: 0; }

  li {
    display: inline-block;
    list-style: none;
    padding: 0;
    width: 130px;
  }

  a {
    border-bottom: 1px solid $gray-20;
    color: $gray-70;
    display: block;
    font-size: modular-scale(-1);
    margin: 0;
    padding: 10px;
    padding-left: 40px;
    text-decoration: none;

    &:last-child { border: 0; }

    &:hover {
      background-color: $gray-10;
      color: $gray-70;
    }

    &.active {
      background-color: $map-menu-link-bg;
      color: $white;

      &:hover { background: $map-menu-link-bg-dark; }
    }
  }
}

.legend-circle-wrapper {
  padding-left: 7px;
  position: absolute;
  top: 6px;

  .inner-circle,
  .outer-circle {
    border-radius: 50%;
    position: relative;
  }

  $inner-circle-size: 18px;
  $outer-circle-size: 24px;

  .inner-circle {
    bottom: 21px;
    height: $inner-circle-size;
    left: 3px;
    width: $inner-circle-size;
    z-index: 1;

    &.elementary { background-color: $map-circle-elementary-dark; }
    &.middle { background-color: $map-circle-middle-dark; }
    &.senior { background-color: $map-circle-high-dark; }
  }

  .outer-circle {
    height: $outer-circle-size;
    width: $outer-circle-size;

    &.elementary { background-color: $map-circle-elementary; }
    &.middle { background-color: $map-circle-middle; }
    &.senior { background-color: $map-circle-high; }
  }
}
