$map-menu-link-bg: #3887be;
$map-menu-link-bg-dark: darken($map-menu-link-bg, 10);

.homepage-map { height: 400px; }

.map-wrapper { position: relative; }

.map-menu-bg {
  background: $black;
  height: 30px;
  opacity: 0.6;
  position: absolute;
  width: 100%;
}

.map-menu {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 1;

  ul {
    margin-bottom: 0;
    padding: 0;
  }

  li {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  a {
    color: $white;
    display: block;
    font-size: modular-scale(-1);
    margin: 0;
    padding: 7px 0 5px 26px;
    text-decoration: none;

    &:last-child { border: 0; }

    &:hover {
      background-color: transparentize($gray-40, 0.3);
      color: white;
    }
  }
}

.legend-circle-wrapper {
  margin-left: -29px;
  position: absolute;
  top: 3px;

  .inner-circle,
  .outer-circle {
    border-radius: 50%;
    position: relative;
  }

  $inner-circle-size: 18px;
  $outer-circle-size: 24px;

  .inner-circle {
    bottom: 21px;
    height: $inner-circle-size;
    left: 3px;
    width: $inner-circle-size;
    z-index: 1;

    &.elementary { background-color: $map-circle-elementary-dark; }
    &.middle { background-color: $map-circle-middle-dark; }
    &.senior { background-color: $map-circle-high-dark; }
  }

  .outer-circle {
    height: $outer-circle-size;
    width: $outer-circle-size;

    &.elementary { background-color: $map-circle-elementary; }
    &.middle { background-color: $map-circle-middle; }
    &.senior { background-color: $map-circle-high; }
  }
}

.mapboxgl-popup-content .community-programs-map-popup {
  max-height: 200px;
  overflow-y: auto;
  width: 310px;

  h1 {
    border-bottom: 1px solid $text-color;
    font-size: modular-scale(2);
    margin: 0;
    margin-bottom: 5px;
  }

  dl {
    font-size: modular-scale(-1);
    font-weight: normal;
    margin-bottom: 5px;
    margin-left: 10px;

    dt.total-count { margin-bottom: 10px; }
  }
}
