.community_programs .header .btn {
  position: relative;
  float: right;
  top: -35px;
  margin-right: 10px;
}

table.community_programs {
  .program_name { width: 20%; }
  .organization { width: 20%; }
  .sqisa { width: 25%; }
  .service { width: 25%; }
  .actions { width: 147px; }
}

.detail_wrapper.community_program_details {
  dl.horizontal_stack dt { margin-bottom: 5px; }

  dl.horizontal_stack.span3 dt { width: 85px; }
  dl.horizontal_stack.span5 dt { width: 200px; }
}

.detail_wrapper.community_program_description {
  dl.horizontal_stack dt { margin-bottom: 5px; }

  dl.horizontal_stack.span4 dt { width: 150px; }
  dl.horizontal_stack.span3 dt { width: 165px; }
}

.deactivation-warning-modal.modal {
  .modal-header .icon-cpp {
    width: 40px;
    top: 2px;
    position: relative;
  }
}
