form.verify-programs {
  &.form-horizontal {
    .control-label { width: 260px; }
    .controls { margin-left: 280px; }
    input {
      width: 30px;
      text-align: center;
    }

    .select.input .controls {
      margin-left: 20px;

      select { width: 600px; }
    }
  }
}
