.organization.community-programs {
  table tr td:first-child {
    font-weight: 600;
    width: 30%;
  }
}

.organization-description,
.organization-internal-details {
  table tr td:first-child { width: 200px; }
}

.instruction-modal.modal {
  .modal-header {
    .icon-cpp-handshake {
      width: 50px;
      position: relative;
      top: 3px;
    }
  }

  img {
    border: 1px solid $gray-20;
    margin: 15px 0;
  }

  ul {
    list-style: none;
    overflow: hidden;
    margin-top: 35px;

    li { margin-bottom: 10px; }

    .instruction-number {
      font-size: 32px;
      font-weight: bold;
      width: 5%;
      float: left;
      clear: both;
      position: relative;
      top: -6px;
      @include merriweather;
    }

    .instruction-content {
      float: left;
      width: 90%;
    }
  }
}

form.verify-programs {
  &.form-horizontal {
    .control-label { width: 260px; }
    .controls {
      margin-left: 280px;

      input {
        width: 30px;
        text-align: center;
        float: left;
      }

      .program-data {
        float: left;
        margin-left: 20px;

        h6 { margin: 0; }
      }
    }

    .select.input .controls {
      margin-left: 20px;

      select { width: 600px; }
    }
  }
}

.organization-page #add-org-user {
  margin-bottom: 15px;
}
