.school.school-programs {
  margin-bottom: 20px;

  .columnar-table-block-wrapper { padding-left: 20px; }

  table {
    tr td:first-child { width: 20%; }
  }
}

.community-school-elements table {
  tr td:first-child { width: 70%; }
}

table.tablesorter {
  tr.even:hover td,
  tr.odd:hover td {
    background-color: $tableBackgroundHover;
  }

  input:disabled { display: none; }
}

table.quality-element-stats-wrapper {
  width: 60%;

  tbody.service-type-stats-wrapper {
    tr:last-child td:last-child {
      padding-bottom: 35px;
    }
  }

  tr.quality-element-stat {
    background-color: $white;

    td:last-child {
      text-align: right;
      width: 175px;
    }
  }

  tr.service-type-label {
    background-color: $white;
    font-weight: bold;

    .hint { font-weight: normal; }

    td { border-top: 0; }

    td:first-child { padding-left: 20px; }
  }

  tr.service-type {
    td:first-child { padding-left: 40px; }
    td:last-child {
      text-align: right;
      width: 50px;
    }
  }
}
