.graph_wrapper {
  .instructions,
  form,
  .graph { padding: 10px; }

  form.scatter_plot_items {
    select { width: 410px; }
  }
}

table.tablesorter {
  tr.even:hover td,
  tr.odd:hover td {
    background-color: $tableBackgroundHover;
  }

  input:disabled { display: none; }
}

dl.quality_element_stats {
  dt { width: 300px; }

  .extra_info { color: $gray-30; }
}
