<div class="row">
  <%= render partial: 'organization_details', locals: {
    organization: organization
  } %>

  <%= render partial: 'organization_description', locals: {
    organization: organization
  } %>

  <%= render partial: 'district_internals', locals: {
    organization: organization
  } %>
</div>
