<div class="row">
  <%= columnar_attributes_display(
    header: 'Organization Details',
    model: @organization,
    attrs: %i(name url phone_number address city_state_zip primary_contact),
    only_public_attrs: false,
    options: {class: 'organization-details'},
  ) %>

  <% if can?(:view_district_internals, organization) %>
    <%= columnar_attributes_display(
      header: 'Internal Details',
      model: @organization,
      attrs: %i(legal_status board_approved_contract? subcontractor_with_lead_agency? receives_district_funding? personal_services_contract? memorandum_of_understanding? alignment_agreement? data_sharing_agreement? total_cost last_verified),
      only_public_attrs: false,
      options: {class: 'organization-internal-details'},
    ) %>
  <% end %>
</div>

<div class="row">
  <%= columnar_attributes_display(
    header: 'Organization Description',
    model: @organization,
    attrs: %i(mission_statement services_description program_impact),
    only_public_attrs: false,
    options: {class: 'organization-description'},
  ) %>

  <% if @organization.participates_in_cte? %>
    <%= columnar_attributes_display(
      header: 'Career/Technical Education',
      model: @organization,
      attrs: %i(cte_event_types cte_service_types),
      only_public_attrs: false,
      options: {class: 'organization-cte'},
    ) %>
  <% end %>
</div>
