<div class="row">
  <%= render partial: 'organizations/organization_details', locals: {
    organization: organization
  } %>

  <% if can?(:view_district_internals, organization) %>
    <%= render partial: 'district_internals', locals: {
      organization: organization
    } %>
  <% end %>
</div>

<div class="row">
  <%= render partial: 'organizations/organization_description', locals: {
    organization: organization
  } %>
</div>
