<h3>Organization Overview</h3>

<dl>
  <dt>Total Organizations</dt>
  <dd><%= organizations.count %></dd>

  <dt>Total Partnerships</dt>
  <dd><%= organizations.map{|o| o.community_programs.size}.sum %></dd>

  <dt>Schools with Organizations Present</dt>
  <dd><%= organizations.map{|o| o.schools}.flatten.uniq.size %>/<%= School.count %></dd>
</dl>
