<%= breadcrumb [
  ['Community School Elements', quality_elements_path],
  [truncate(@quality_element.name, length: 20), quality_element_path(@quality_element)],
  ["Edit", ""]
] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Edit '#{@quality_element.name}'", "") %>

    <div class="form_wrapper">
      <%= simple_form_for @quality_element, method: :put, html: {class: "form-horizontal"} do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
      <% end %>
    </div>
  </div>
</div>
