<%= breadcrumb [
  ['Community School Elements', quality_elements_path],
  ["Create", ""]
] %>

<div class="row-fluid">
  <div class="span12">
    <%= page_header("Create New Community School Element", "") %>

    <div class="form_wrapper">
      <%= semantic_form_for @quality_element, method: :post, html: {class: "form-horizontal"} do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
      <% end %>
    </div>
  </div>
</div>



