<%= breadcrumb [['Community School Elements', quality_elements_path], ["New Community School Element", ""]] %>

<div class="row-fluid">
  <div class="span12">
    <div class="header">
      <h1>New Community School Element</h1>
    </div>

    <div class="form_wrapper">
      <%= semantic_form_for @quality_element, method: :post, html: {class: "form-horizontal"} do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
      <% end %>
    </div>
  </div>
</div>



